In [1]:
tup = 1,2,3,4
tup

(1, 2, 3, 4)

In [5]:
a,b,*rest = tup
print(a)
print(b)
rest

1
2

[3, 4]

# for loop from textbook
this program was given in the book

In [9]:
x=256
total=0
while x>0:
    if total > 500:
        break
    total+=x
    x=x//2
total

504

In [10]:
siz = int(input("Enter size of list: "))
l=list()
for x in range(0,siz):
    ele = input("Enter element: ")
    l.append(ele)
print(f"List is : {l}")

Enter size of list: 5
Enter element: ayan
Enter element: ayman
Enter element: jun
Enter element: kali
Enter element: kala
List is : ['ayan', 'ayman', 'jun', 'kali', 'kala']

In [13]:
l.sort(key=ascii)
l

['ayan', 'ayman', 'jun', 'kala', 'kali']

In [14]:
l[-3:-2]

['jun']

In [19]:
l[-5:4]

['ayan', 'ayman', 'jun', 'kala']

In [25]:
a=[90]
b=a
a.append(1)
b

[90, 1]

In [27]:
put=input("Enter key of dict: ")
val = input("Enter Val of Dict: ")
d1 = dict()
d1[put] = val
d1

Enter key of dict: youtube
Enter Val of Dict: code

{'youtube': 'code'}

In [28]:
hash("code")

-1607349000689898045

In [32]:
d1["one to 10"] = list(range(1,11))
d1

{'youtube': 'code', 'one to 10': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [50]:
l2 = [1,2,2,3,3,1,1,4,10,10]
l3=[]
for i in l2:
    if i not in l3:
        l3.append(i)
l3

[1, 2, 3, 4, 10]

In [54]:
tes = set(l3)
tes.remove(10)
tes.pop()
tes

{2, 3, 4}

In [60]:
a = {3,4,5,6,10}
a.intersection(l3)

{3, 4, 10}

In [57]:
a.symmetric_difference(l3)

{1, 2, 5, 6}

In [59]:
b={6,5}
a.issubset(b)

False

In [62]:
b=[3,4]
a.issuperset(b)

True

In [67]:
index=0
col = list(range(0,20,3))
for index,val in enumerate(col):
    print(val)

0
3
6
9
12
15
18

In [2]:
one = ["sun", "Mon", "tue", "wed"]
two = ["holi", "work", "work", "work"]
index = 0
for index, (a,b) in enumerate(zip(one,two)):
    print(f"{index} : {a} , {b}")

0 : sun , holi
1 : Mon , work
2 : tue , work
3 : wed , work

In [7]:
index = 0
for i in enumerate(one):
    print("ele of one: ")
    print(i)

ele of one:
(0, 'sun')
ele of one:
(1, 'Mon')
ele of one:
(2, 'tue')
ele of one:
(3, 'wed')